* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.centrado {
    max-width: 938px;
    width: 96%;
    margin: 0 auto;
    position: relative;
    min-height: 0px;
    overflow: hidden;
}
